.table-row {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    color: #ffffff;
    background-color: rgba(212, 203, 203, 0.07);
}

.table-row:hover, .table-row.selected {
    background-color: rgba(212, 203, 203, 0.07);
}